* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: hsl(var(--hue), 90%, 50%);
    --trans-dur: 0.3s;
    --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
    font-size: calc(14px + (30 - 14) * (100vw - 280px) / (3840 - 280));
}

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    font: 1em/1.5 sans-serif;
    height: 100vh;
    transition:
        background-color var(--trans-dur),
        color var(--trans-dur);
}

.pl {
    $size: 8em;

    margin: auto;
    position: relative;
    width: $size;
    height: $size;

    &:before,
    &:after {
        animation: pl-before 2.5s var(--trans-timing) infinite;
        background-color: currentColor;
        content: "";
        display: block;
        position: absolute;
        top: 75%;
        left: 50%;
        width: 25%;
        height: 25%;
        transform-origin: 100% 100%;
    }

    &:after {
        animation-name: pl-after;
    }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }
}

/* Animations */
@keyframes pl-before {
    from {
        transform: rotate(0) translate(-100%, -100%) rotate(-90deg);
    }

    20% {
        transform: rotate(0) translate(-100%, -100%) rotate(90deg);
    }

    40% {
        transform: rotate(0) translate(-300%, -100%) rotate(90deg);
    }

    60% {
        transform: rotate(90deg) translate(-300%, -100%) rotate(-90deg);
    }

    80% {
        transform: rotate(90deg) translate(-100%, -100%) rotate(-90deg);
    }

    to {
        transform: rotate(90deg) translate(-100%, 100%) rotate(90deg);
    }
}

@keyframes pl-after {

    from,
    20% {
        transform: rotate(0) scale(1, 1);
    }

    40% {
        transform: rotate(0) scale(3, 1);
    }

    60% {
        transform: rotate(90deg) scale(3, 1);
    }

    80% {
        transform: rotate(90deg) scale(1, 1);
    }

    to {
        transform: rotate(90deg) scale(1, 1) translate(0, 200%);
    }
}