body {
    .darkmode {
        display: inline-block;
        font-size: 2rem;
        padding: 1rem 1rem 0.75rem 1rem;
        cursor: pointer;

        .light,
        .dark {
            display: none;
        }
    }

    &.dark .darkmode .light,
    &:not(.dark) .darkmode .dark {
        display: inline-block;
    }
}