body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

.spinner {
    width: 100px;
    height: 100px;
    animation: Morph 2000ms infinite;
}

@keyframes Morph {

    0%,
    100% {
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: pink;
    }

    50% {
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: lightblue;
    }
}