html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #151515;
}

#loader canvas {
    width: 240px;
    height: 240px;
}