:root {
    --height: 100px;
    --width: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #151515;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.wrapper {
    width: calc(4 * var(--width));
    height: calc(4 * var(--height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    width: calc(0.8 * var(--width));
    height: calc(0.7 * var(--height));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}

.button:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
}

.button span {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    z-index: 10;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button._1 {
    background: #8bd1ff;
}

.button._2 {
    background: #e097ff;
}

.button._3 {
    background: #88ffe7;
}

.button._4 {
    background: #ffa375;
}

.button .back {
    position: absolute;
    width: 0;
    height: 0;
    filter: url(#filter);
    border-radius: 50%;
    z-index: 5;
    background: #fff;
    transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
}

.button._1 .back {
    left: -50%;
    top: -50%;
}

.button._2 .back {
    right: -50%;
    top: -50%;
}

.button._3 .back {
    left: -50%;
    bottom: -50%;
}

.button._4 .back {
    right: -50%;
    bottom: -50%;
}

.button:hover .back {
    width: calc(2 * var(--width));
    height: calc(2 * var(--height));
}

@media only screen and (max-width: 750px) {
    .wrapper {
        flex-direction: column;
    }

    .button {
        margin: 0.8rem 0;
    }
}