* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --primary-t: hsla(var(--hue), 90%, 50%, 0);
  --unchecked: hsl(var(--hue), 10%, 70%);
  --checked: hsl(133, 70%, 40%);
  --trans-dur: 0.4s;
  --trans-timing1: cubic-bezier(0.65, 0, 0.35, 1);
  --trans-timing2: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  font-size: calc(40px + (80 - 40) * (100vw - 320px) / (2560 - 320));
}

body,
input {
  color: var(--fg);
  font: 1em/1.5 sans-serif;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}

body {
  background-color: var(--bg);
  display: flex;
  height: 100vh;
}

.switch,
.switch__input {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.switch {
  display: flex;
  align-items: center;
  margin: auto;
}

.switch__input {
  background-color: var(--unchecked);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.125em var(--primary-t);
  outline: transparent;
  position: relative;
  width: 2.25em;
  height: 1.5em;
  transition: background-color var(--trans-dur) var(--trans-timing1),
    box-shadow 0.15s var(--trans-timing1),
    transform var(--trans-dur) var(--trans-timing2);
  -webkit-appearance: none;
  appearance: none;
}

.switch__input:focus-visible {
  box-shadow: 0 0 0 0.125em var(--primary);
}

.switch__input:before {
  background-color: var(--bg);
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  transition: background-color var(--trans-dur),
    transform var(--trans-dur) var(--trans-timing2);
  width: 1em;
  height: 1em;
}

.switch__letters,
.switch__letter {
  transition: transform var(--trans-dur) var(--trans-timing2);
}

.switch__letters {
  margin-left: 0.375em;
  overflow: visible;
  pointer-events: none;
  width: 1.5em;
  height: 1.5em;
}

.switch__letter:last-child {
  transform: translateX(14px);
}

.switch__letter-stroke {
  stroke: var(--unchecked);
  transition: stroke var(--trans-dur) var(--trans-timing1),
    stroke-dashoffset var(--trans-dur) var(--trans-timing2),
    transform var(--trans-dur) var(--trans-timing2);
}

.switch__letter-stroke:nth-child(2) {
  transform-origin: 2px 2px;
}

.switch__text {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

/* “on” state */
.switch__input:checked {
  background-color: var(--checked);
}

.switch__input:checked,
.switch__input:checked+.switch__letters {
  transform: translateX(0.375em);
}

.switch__input:checked:before {
  transform: translateX(0.75em);
}

.switch__input:checked~.switch__letters .switch__letter-stroke {
  stroke: var(--checked);
}

.switch__input:checked~.switch__letters .switch__letter-stroke:nth-child(2) {
  stroke-dashoffset: 6;
}

.switch__input:checked~.switch__letters .switch__letter-stroke:last-child {
  stroke-dashoffset: 4;
}

.switch__input:checked~.switch__letters .switch__letter:first-child .switch__letter-stroke:nth-child(2) {
  stroke-dashoffset: 0;
  transform: rotate(56.5deg);
}

.switch__input:checked~.switch__letters .switch__letter:last-child {
  stroke-dashoffset: 0;
  transform: translateX(8px);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 10%);
    --fg: hsl(var(--hue), 10%, 90%);
    --primary: hsl(var(--hue), 90%, 60%);
    --primary-t: hsla(var(--hue), 90%, 60%, 0);
    --unchecked: hsl(var(--hue), 10%, 30%);
    --checked: hsl(133, 70%, 50%);
  }
}