@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: radial-gradient(#0d483b, #1d1515);
  display: grid;
  place-items: center;
}

h1 {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #f6d8d5;
  font-size: 130px;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #319769;
  z-index: -1;
  transition: 0.2s;
}

h1:hover::before {
  top: 0.04em;
  left: 0.04em;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  color: rgba(52, 215, 150, 0.23);
  top: 0em;
  left: 0em;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #54ff81;
  transition: 0.2s;
}

h1:hover::after {
  top: -0.04em;
  left: -0.04em;
}