@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700,900");

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #151515;
}

ul {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  list-style: none;
}

ul li.list__item {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.label__checkbox {
  position: relative;
  margin: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.checkbox::before,
.checkbox::after {
  content: "";
  position: absolute;
}

.checkbox::before {
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transform: rotate(-45deg) scale(0, 0);
  left: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid #f7345e;
  border-top-style: none;
  border-right-style: none;
}

.checkbox:checked::before {
  transform: rotate(-45deg) scale(1, 1);
}

.checkbox::after {
  top: -0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer;
}