$color: #fff;

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    background: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleButton {
    cursor: pointer;
    display: block;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    transition: transform 0.14s ease;

    &:active {
        transform: rotateX(30deg);
    }

    input {
        display: none;

        &+div {
            border: 3px solid rgba($color, 0.2);
            border-radius: 50%;
            position: relative;
            width: 44px;
            height: 44px;

            svg {
                fill: none;
                stroke-width: 3.6;
                stroke: $color;
                stroke-linecap: round;
                stroke-linejoin: round;
                width: 44px;
                height: 44px;
                display: block;
                position: absolute;
                inset: -3px;
                z-index: 1;
                stroke-dashoffset: 162.6 - 38;
                stroke-dasharray: 0 162.6 133 (162.6 - 133);
                transition: all 0.4s ease 0s;
            }

            &:before,
            &:after {
                content: "";
                width: 3px;
                height: 16px;
                background: $color;
                position: absolute;
                left: 50%;
                top: 50%;
                border-radius: 5px;
            }

            &:before {
                opacity: 0;
                transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
                animation: bounceInBefore 0.3s linear forwards 0.3s;
            }

            &:after {
                opacity: 0;
                transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
                animation: bounceInAfter 0.3s linear forwards 0.3s;
            }
        }

        &:checked+div {
            svg {
                stroke-dashoffset: 162.6;
                stroke-dasharray: 0 162.6 28 (162.6 - 28);
                transition: all 0.4s ease 0.2s;
            }

            &:before {
                opacity: 0;
                transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
                animation: bounceInBeforeDont 0.3s linear forwards 0s;
            }

            &:after {
                opacity: 0;
                transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
                animation: bounceInAfterDont 0.3s linear forwards 0s;
            }
        }
    }
}

@keyframes bounceInBefore {
    0% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bounceInAfter {
    0% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes bounceInBeforeDont {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    }
}

@keyframes bounceInAfterDont {
    0% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    }

    100% {
        opacity: 0;
        transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    }
}